
body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.urna {
    background-color: #c2aba0;
    padding: 30px;
    display: flex;
}
.tela {
    width: 500px;
    height: 320px;
    background-color: #fcf8e9;
}
.teclado {
    background-color: #8a9247;
}